        <section id="about">
            <h2 class="reveal"><i data-lucide="user"></i> About Me</h2>
            <div class="about-container reveal">
                <div class="about-text">
                    <p>👋 Hi! I’m Manuel Soto Jiménez (but every one calls me Lolo Soto), Head of Core at Lynx Tech, part of Grupo Santander in Madrid. That said, I was born in Linares, and Andalusia still holds a special place in my heart. I graduated in Computer Science and Mathematics between 2016 and 2021, and I've been working at Lynx ever since.</p>
                    
                    <p>💼🧑‍💻 I wrote “Head” above because, although I still have a soft spot for clean and optimized code, my work now focuses more on coordination and design than on hands-on coding. I lead several squads that handle different parts of our Lynx AML application: Data Engineering, Models, Data Ingestion, and so on. Ultimately, my day-to-day job is to make sure everything fits together under the same purpose, that everyone stays aligned, and that our product evolves sprint by sprint without losing consistency or quality.</p>
                    
                    <p>🗺️🥊 Outside of work, I love traveling, working out, reading, and; on the more technical side, I'm into quantum computing, physics, and any new field of data analysis waiting to be explored.</p>
                </div>
                <div class="about-gallery">
                    <div class="gallery-wrapper">
                        <img src="me/gallery_01.jpg" alt="Lolo Soto - Gallery 01">
                        <img src="me/gallery_02.jpg" alt="Lolo Soto - Gallery 02">
                        <img src="me/gallery_03.jpg" alt="Lolo Soto - Gallery 03">
                    </div>
                </div>
            </div>
        </section>
