        <header id="hero" class="reveal">
            <h1 id="name">Lolo Soto</h1>
            <p id="tagline">Head of Core Application @ Lynx Tech (Santander Group)</p>
            <div class="contact-info">
                <span><i data-lucide="mail"></i> manuel.sj.linares@gmail.com</span>
                <span><i data-lucide="map-pin"></i> Madrid, Spain</span>
                <span><i data-lucide="linkedin"></i> <a href="https://www.linkedin.com/in/lolo-soto/" target="_blank">LinkedIn</a></span>
            </div>
        </header>
